In [6]:
import pandas as pd
import scipy.stats as stats

In [7]:
# let's import the CSV file first
df = pd.read_csv('data/ds_salaries.csv')
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

### Basic tasks
1. Throw away all the records where *employment_type* != *FT* (fulltime). This is to get rid of the obvious aspect - people who work more hours get paid more for the same job.
2. Find **Mean**, **Median**, **Variance**, **Standard Deviation**, **Range**, **IQR**, **MAD** and of the *salary_in_usd* column.
3. Draw a **boxplot** of the *salary_in_usd* column.
4. Draw a **histogram** of the *salary_in_usd* column.
5. Draw a **density plot** of the *salary_in_usd* column on top of a histogram.
6. Find **modes** of the *experience_level*, *job_title*, *employee_residence*, *company_location*, *remote_ratio* and *company_size* columns.
7. Draw **bar charts** of the *experience_level*, *job_title*, *employee_residence*, *company_location*, *remote_ratio* and *company_size* columns.
8. Draw a **boxplot** of the *salary_in_usd* column grouped by the experience_level column.
9. Draw a **boxplot** of the *salary_in_usd* column grouped by the *company_location* column.
10. Draw a **boxplot** of the *salary_in_usd* column grouped by the *remote_ratio* column.
11. Draw a **boxplot** of the *salary_in_usd* column grouped by the *company_size* column.

### Even More Advanced tasks (a.k.a. let's dive deeper)
12. In which jobs do people in the US have higher salaries for the same experience level and than people in the EU?
13. Do people in larger companies have higher salaries for the same experience level and job title than people in smaller companies?
14. What is the difference in salaries of people who work in the US but live elsewhere and people who work and live in the US?
    - Hint: be careful about distribution of experience levels and job titles in the two groups
15. Do people who work fully remotely (based on *remote_ratio*) have higher salaries for the same experience level and job title than people who work partially or not remote at all?
16. Draw a map with the average salaries of data analysts in different states.

In [11]:
# 1.
df = df[df['employment_type'] == 'FT']

In [12]:
# 2.
print('Mean: ', df['salary_in_usd'].mean())
print('Median: ', df['salary_in_usd'].median())
print('Variance: ', df['salary_in_usd'].var())
print('Standard Deviation: ', df['salary_in_usd'].std())
print('Range: ', df['salary_in_usd'].max() - df['salary_in_usd'].min())
print('IQR: ', df['salary_in_usd'].quantile(0.75) - df['salary_in_usd'].quantile(0.25))
print('MAD: ', stats.median_abs_deviation(df['salary_in_usd']))

Mean:  138314.1995696611
Median:  135000.0
Variance:  3900274488.640817
Standard Deviation:  62452.177613281165
Range:  444868
IQR:  79476.0
MAD:  40000.0